{
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "import/extensions": "off",
    "camelcase": "off",
    "quotes": [
      "error",
      "double"
    ],
    "semi": ["error", "always"],
    "comma-spacing": ["error", { "before": false, "after": true }]
  }
}